# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*.layout
*.depend
docs/Implementation of Models for reheating processes KREUZER WERNER 2011.pdf
docs/On-the-Thermal-Behavior-of-the-Slab-in-a-Reheating-Furnace-with-Radiation.pdf
docs/Prediction of Furnace Heat Transfer .pdf
